.picture {
    margin: auto;
    text-align: center;
    background-image: url('https://pds.joins.com/news/component/betanews/201804/17/b1a09f64.jpg');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.content {
    width:600px;
    margin: auto;
    text-align: left;
}

.content span{
    display: inline-block;
}

.content input,.content select {
    height:30px; 
    width:300px;
}

.col-sm-2{
    font-size:15px;
    padding : 0px;
    margin : 0px;
}

.button-order{
    text-align: center;
}


* {
	font-family: 'Do Hyeon', sans-serif;
}