.picture {
    margin: auto;
    text-align: center;
    background-image: url('https://pds.joins.com/news/component/betanews/201804/17/b1a09f64.jpg');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    /* display flex를 쓸 때엔 아래 네 줄이 항상 묶여 다닙니다. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content {
    width:600px;
    margin: auto;
}
.orderBtn {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
* {
    font-family: 'Nanum Myeongjo', serif;
}